@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo general de la app */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e3ecff; /* Fondo general */
  font-family: 'Inter', sans-serif;
}



/* Fondo general de la app */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e3ecff; /* Fondo general */
  font-family: 'Inter', sans-serif;
}
